<div class="login">
    <form name="from">
        <div class="form-group">
            <label class="icon account" for="phone"></label>
            <input name="phone"ng-model="user.phone" validator="required,phone" type="text" placeholder="请输入手机号" class="form-input" id="phone"/>
        </div>
        <div class="form-group">
            <label class="icon lock" for="pass"></label>
            <input name="password"ng-model="user.password" validator="required,password" type="password" placeholder="请输入密码" class="form-input" id="pass"/>
        </div>
        <div class="form-group">
            <button class="btn-login" validation-submit="from" ng-click="submit();">登录</button>
        </div>
        <div class="form-group">
            <button class="btn-reg" ui-sref="register">注册</button>
        </div>
    </form>
</div>